# Puerto de escucha del servidor
PORT=4000

# URL de conexión a MongoDB Atlas
MONGODB_URI=TU_URL_DE_MONGO_ATLAS

# Clave secreta para firmar los tokens JWT (Cualquier texto largo y seguro)
TOKEN_SECRET=UNA_CLAVE_SUPER_SECRETA_Y_LARGA

# Entorno de ejecución (development o production)
NODE_ENV=development

# Configuración de Cloudinary para fotos de alumnos
CLOUDINARY_CLOUD_NAME=TU_CLOUD_NAME
CLOUDINARY_API_KEY=TU_API_KEY
CLOUDINARY_API_SECRET=TU_API_SECRET

# Configuración de Servidor de Correo (SMTP) para notificaciones
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu-email@gmail.com
EMAIL_PASS=tu-clave-de-aplicacion-generada-en-google
EMAIL_SECURE=false

# URL del Frontend (Local y Producción)
FRONTEND_URL=http://localhost:5173
